# Banco Central
BCCH_USER=your_bcch_user
BCCH_PASSWORD=your_bcch_password

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=chile_economic_data
DB_USER=chile_etl_user
DB_PASSWORD=your_database_password

# Docker
DOCKER_DB_PORT=5433

